@font-face {
    font-family: Dosis;
    src: url(font/dosis/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: Redhat;
    src: url(font/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf);
}
  

div{
    font-family: Redhat, Tahoma, Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 12pt;
}

span{
    font-family: Redhat, Tahoma, Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 12pt;
}

.desktop
{
    width: 100%;
    height: 100%;
    display: flex;
    background-image: url(images/ocean-blue.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desktop-taskbar
{
    width: 5%;
    height: 100%;
    background-color: #58abf9;
    opacity: 0.8;
    text-align: center;
    padding-top: 10px;
    align-items: center;

    box-shadow: 6px 2px 17px -8px rgba(0,0,0,0.53);
    -webkit-box-shadow: 6px 2px 17px -8px rgba(0,0,0,0.53);
    -moz-box-shadow: 6px 2px 17px -8px rgba(0,0,0,0.53);
}

.desktop-content
{
    width: 95%;
    height: 100%;
}


.wise-menu-button-info
{
    background-color: rgb(227, 231, 177);
    color: #666;
    display: none;
    font-size: 10pt;
    white-space: nowrap;
    opacity: 1;
    padding: 6px;
    width: fit-content;
    position: relative;
    top: 0px;
    left: 0px;
    
    margin-top: -8%;
    margin-left: 90%;
    
    z-index: 2147483647;
    border-radius: 6px;


    -webkit-box-shadow: 2px 2px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(143,143,143,1);
    box-shadow: 2px 2px 5px 0px rgba(143,143,143,1);
}

body
{
    padding: 0;
    margin: 0px;
}

.taskbar-start-menu
{
    margin: auto;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url(images/play-button.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    cursor: pointer;
    padding:3px;
}

.taskbar-logout-menu
{
    position: absolute;
    margin: auto;
    bottom: 3%;
    width: 40px;
    height: 40px;
    background-image: url(images/off-button.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    cursor: pointer;
    padding:3px;
    align-self: center;
    transform: translate(55%, 0);

}



.wiseape-window
{
    width: 85%;
    height: 90%;
    display:none;
    position: absolute;
    top: 10px;
    left: 10%;
    
    box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -webkit-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -moz-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    
}

.wiseape-window-header
{
    width: 100%;
    height: 45px;
    display: flex;
    background-color: #58abf9;
    opacity: 0.95;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wiseape-window-icon
{
    width: 5%;
    height: 70%;
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5px;
}

.wiseape-window-title
{
    width: 80%;
    color: #fff;
    font-size: 12pt;
    font-weight: bold;
    vertical-align: middle;
    padding: 1%;
}

.wiseape-window-button-container 
{
    width: 20%;
    
    padding-right: 20px;
}

.wiseape-window-button-container > div
{
    display: flex;
    width: auto;
    float:right;
    margin-top: 3%;
}

.wiseape-window-button
{
    width: 30px;
    height: 30px;
    background-size: auto 70% ;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.wiseape-window-button-min
{
    background-image: url(/images/winmin.png)
}

.wiseape-window-button-max
{
    background-image: url(/images/winmax.png)
}

.wiseape-window-button-close
{
    background-image: url(/images/winclose.png)
}
.wiseape-window-content
{
    height: 95%;
    background-color: #fff;
    padding: 10%;        
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.desktop-menu-container
{
    position:absolute;
    top: 10px;
    left: 5%;
    width: 50%;
    height: 90%;
    background-color: #fff;
    opacity: 1;
    z-index: 10000000;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -webkit-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -moz-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);

    display: inline-flex;
}


.desktop-menu-item-container
{
    width: 130px;
    height: 130px;
    padding: 10px;
    cursor: pointer;
}

.desktop-menu-group
{
    width: 100px;
    height: 100px;
    background: url(images/folder.png) no-repeat;
    background-size: 70% auto;
    background-position: center;
}

.desktop-menu-item
{
    width: 100px;
    height: 100px;
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.desktop-menu-text
{
    width: 100%;
    text-align: center;
    font-weight: bold;
}


.loader
{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 40%;
    top: 40%;
    background: url(/images/process.gif) no-repeat;
    background-size: 100% auto;
    background-position: center;
    z-index: 2000000;
    display: none;
}

.wb-header
{
    opacity: 1;
    height: 40px;
    background-color: #58abf9;
    /*background-color: white;*/
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    background-image: url(images/winheader.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    
}

.winbox {
    border-radius: 10px;
}

.wb-icon
{
    height: 100%;
}

.wb-title
{
    padding-left: 20px;
}

.wb-body
{
    opacity: 1;
    top: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.wb-icon
{
    margin-right: 15px;
}

.window-title
{
    line-height: 40px;
    color: #fff;
    padding-left: 10px;
}

.wb-body
{
    contain: none !important;
}

.form-control
{
    border: solid 1px #666;
}

.select2-container
{
    border: solid 1px #666;
    border-radius: 3px;
}

input.form-control:focus
{
    color: #666;
}

input.form-control
{
    color: #666;
}

textarea.form-control:focus
{
    color: #666;
}

textarea.form-control
{
    color: #666;
}

.btn{
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.btn-text
{
    color: #fff;
    height: 100%;
    align-items: center;
    margin-left: 5%;
}

.btn-icon
{
    color: #fff;
    height: 100%;
    align-items: center;
    margin-left: 5%;

}

.btn-primary
{
    background-color: #58abf9;
    border-color: #58abf9 !important;

}



.notification-box
{
    position: fixed;
    width: 80%;
    left: 5%;
    top: 40%;
    width: 90%;

    background-color: rgb(127, 208, 186);
    z-index: 12000;
    padding: 10px;
    border-radius: 0px;
    display: flex;
    align-items: center;
    opacity: 0.8;
    box-shadow: -9px -4px 104px -14px rgba(0,0,0,0.74);
    -webkit-box-shadow: -9px -4px 104px -14px rgba(0,0,0,0.74);
    -moz-box-shadow: -9px -4px 104px -14px rgba(0,0,0,0.74);
    cursor: pointer;
}

.notification-text
{
    height: 100%;
    width: 95%;
    font-weight: bold;
    color: #fff;
    align-items: center;
    margin-left: 2%;
}

.notification-icon 
{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center;
    opacity: 0.9;
}

.notification-icon-success
{
    background-image: url(images/ok.png);
}
.notification-box-success
{
    background-color: rgb(127, 208, 186);
}

.notification-icon-warning
{
    background-image: url(images/warning.png);
}
.notification-box-warnings
{
    background-color: rgb(207, 245, 56);
}

.notification-icon-error
{
    background-image: url(images/error.png);
}
.notification-box-error
{
    background-color: rgb(176, 39, 39);
}

.notification-icon-infos
{
    background-image: url(images/information.png);
}
.notification-box-info
{
    background-color: rgb(68, 130, 238);
}

.empty-window
{
    width: 30%;
    height: 30%;
    /*background: url(images/animated-walk.gif) no-repeat;*/
    background-size: auto 100%;
    background-position: center;
    margin-left: 30%;
    margin-top: 20%;
    opacity: 0.8;
}

#winTemp
{
    opacity: 0.6;
    box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -webkit-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    -moz-box-shadow: 2px 7px 16px 2px rgba(135,129,129,0.75);
    border-radius: 6px;
}

.jqx-grid-cell-selected-energyblue 
{
    background-color: #98c9f7 !important;
    color: #666 !important;
}

.jqx-grid-cell-selected-energyblue div
{
    color: #666 !important;
    font-weight: bold;

}

.jqx-grid
{
    border-radius: 6px !important;
    border-color: #666 !important;
}


.jqx-fill-state-normal-energyblue, .jqx-widget-header-energyblue
{
    border-color: #c1cbd3 !important;  
}

.jqx-grid-column-header
{
    background-color: #c1cbd3 !important;
    font-size: 16pt !important;
    font-family: Redhat !important;
}

.jqx-grid-column-header span 
{
    font-size: 12pt !important;
    font-family: Redhat !important;   
    color: #fff !important;
}

.btn-text
{
    font-weight: bold;
}

label
{
    color: #666;
    font-weight: 600 !important;
    margin-bottom: 3px;
}

input, select, textarea{
    margin-bottom: 0 !important;
}

.form-group{
    margin-bottom: 6px !important;
}

[class*="icheck-"] > input:first-child + label::before, [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before
{
    border-radius: 3px !important;
}

.daterangepicker.show-calendar .drp-buttons {
    display: flex !important;
}